/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    font-family: 'Times New Roman', Times, serif;
    color: #033B4F;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-link text-dark {
    font-family: 'Times New Roman';
    font-size: 50px;
}

.welcome {
    color: #1D7486;
    font-family: 'Times New Roman';
    font-size: 65px;
}


/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}
html, body {
    max-width: 100%;
    overflow-x: hidden; /*hides the slide bar vertically-horizontally*/
    overflow-y: hidden;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 30px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 30px; /* Vertically center the text there */
}

.btncreator {
    background-color: #1A6675;
    color: white;
    position: absolute;
    top: 15px;
    right: 80px;
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
    border-radius: 5px;
}

.btnbacker {
    position: absolute;
    top: 15px;
    right: 20px;
    background-color: #1A6675;
    color: white;
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
    border-radius: 5px;
}

.signin {
    text-align: center;
}

.login {
    background-color: #1F7A8C;
    color: white;
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
    border-radius: 5px;
}

.createcreator {
    background-color: #F1F3F9 !important;
}

.createbacker {
    background-color: #F1F3F9 !important;
}

.create {
    background-color: #1F7A8C;
    color: white;
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
    border-radius: 5px;
}

.signupbox {
    width: 300px;
    height: 360px;
    border: 5px solid #022B3A;
    padding: 40px;
    position: absolute;
    left: 40%;
    bottom: 260px;
}

/*----------------------------bubbles css------------------------------*/
.bubbles img {
    width: 50px;
    animation: bubble 7s linear infinite;
    z-index:1;
}

.bubbles {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -70px;
}

@keyframes bubble {
    0% {
        transform: translateY(0);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    70% {
        opacity: 1;
    }

    100% {
        transform: translateY(-80vh);
        opacity: 0;
    }
}

.bubbles img:nth-child(1) {
    animation-delay: 2s;
}

.bubbles img:nth-child(2) {
    animation-delay: 1s;
}

.bubbles img:nth-child(3) {
    animation-delay: 3s;
}

.bubbles img:nth-child(4) {
    animation-delay: 4.5s;
}

.bubbles img:nth-child(5) {
    animation-delay: 3s;
}

.bubbles img:nth-child(6) {
    animation-delay: 6s;
}

.bubbles img:nth-child(7) {
    animation-delay: 7s;
}

.frontimage img {
    position:absolute;
    left:460px;
    width:600px;
    height:400px;
    top: 200px;
    z-index:0;
}

/*-----------------------backer menu----------------------*/

.wrapper {
    display: flex;
    position: absolute;
    top:0px;
    left:0px;
}

    .wrapper .sidebar {
        width: 209px;
        height: 100%;
        background: #1D7486;
        padding: 30px 0px;
        position: fixed;
    }

        .wrapper .sidebar h2 {
            color: #fff;
            text-transform: uppercase;
            text-align: center;
            margin-bottom: 30px;
        }

        .wrapper .sidebar ul li {
            padding: 15px;
            border-bottom: 1px solid #bdb8d7;
            border-bottom: 1px solid rgba(0,0,0,0.05);
            border-top: 1px solid rgba(255,255,255,0.05);
            list-style-type:none;
        }

            .wrapper .sidebar ul li a {
                color: #BFDBF7;
                display: block;
            }

                .wrapper .sidebar ul li a .fas {
                    width: 25px;
                }

            .wrapper .sidebar ul li:hover {
                background-color: #47BFD7;
            }

                .wrapper .sidebar ul li:hover a {
                    color: #fff;
                }