@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="welcome">Welcome To FundProjects</h1>
    <p></p>
</div>

    <button class="btncreator" onclick="window.location.href='/Login/LoginCreator'">Creator</button>

    <button class="btnbacker" onclick="window.location.href='/Login/LoginBacker'">Backer</button>

    <div class="bubbles">
        <img src="~/image/bubble.png" />
        <img src="~/image/bubble.png" />
        <img src="~/image/bubble.png" />
        <img src="~/image/bubble.png" />
        <img src="~/image/bubble.png" />
        <img src="~/image/bubble.png" />
        <img src="~/image/bubble.png" />
    </div>
<div class="frontimage">
    <img src="~/image/project-funding.jpg" />
</div>