<body class="createcreator">

    <h2 style="text-align:center;">Sign Up</h2>
    <div class="signupbox">
        <form>
            <label>First Name</label><br />
            <input type="text" name="First Name" />
            <label>Last Name</label><br />
            <input type="text" name="Last Name" />
            <label>Email</label><br />
            <input type="text" name="Email" /> <br />
            <br /><input type="submit" class="create" value="Create Account" onclick="createCreator()" /> 
        </form>

    </div>


</body>

