

<body class="createcreator">

    <h2 style="text-align:center;">Sign Up</h2>
    <div class="signupbox">
        <form asp-action="CreateCreator">
            <label>First Name</label><br />
            <input type="text" name="FirstName" />
            <label>Last Name</label><br />
            <input type="text" name="LastName" />
            <label>Email</label><br />
            <input type="text" name="Email" /> <br />
            <label>Phone Number</label><br />
            <input type="text" name="PhoneNumber" /> <br />
            <br /><input type="submit" class="create" value="Create Account" />
        </form>

    </div>


</body>

