
<div class="signin">
    <h2>Sign In</h2>
        <form>
            <label>Enter your project creator email</label><br>
            <input type="email" name="email" /> <br /> <br />
            <input class="login" type="submit" value="Login" onclick="getCreator()" />
        </form> <br />
        <p>Not signed in? Create a new account <a href="CreateProjectCreator">here</a></p>
</div>
