@{
    ViewData["Title"] = "Contact Us";
}
<h1>@ViewData["Title"]</h1>

<p>The personel at FundProjects is always here for you. <br/>
    If you want to contact us, you can send us an email at: info@fundprojects.com</p>
