@model IEnumerable<FundProjectAPI.DTOs.ProjectDto>;

<body class="projectbody">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

    <div class="wrapper">
        <div class="sidebar">
            <h2>Backer</h2>
            <ul>
                <li><a href="/Backer/Index"><i class="fas fa-stream"></i>Dashboard</a></li>
                <li><a href="/Backer/Projects"><i class="fas fa-project-diagram"></i>Projects</a></li>
                <li><a href="/Backer/Profile"><i class="fas fa-user"></i>Profile</a></li>
            </ul>
        </div>
    </div>

    <h3 style="text-align:left;">Funded Projects</h3>
   

    @*table for all projects*@
    <div style="position: absolute; top: 200px; right: 400px;">
        <table class="content-table">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>image</th>
                    <th>Category</th>
                    <th>Goal</th>
                    <th>Funded</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var project in Model)
                {
                    <tr>
                        <td> <a href="/project/get/@project.Id"> @project.Title</a> </td>
                        <td>   @project.Description  </td>
                        <td>
                            @if (project.Description != null)
                            {
                                <img src="/image/@project.Description" title="Product image" style="width:50px; height:50px;" />
                            }
                        </td>
                        <td>   @project.Category  </td>
                        <td>   @project.Goal  </td>
                        <td> <a href="/delete/@project.Id" title="delete"><i class="fa fa-trash"></i></a> </td>
                        <td> <a href="/update/@project.Id" title="update"><i class="fa fa-edit"></i></a> </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</body>
