
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

<div class="wrapper">
    <div class="sidebar">
        <h2>Backer</h2>
        <ul>
            <li><a href="Index"><i class="fas fa-stream"></i>Dashboard</a></li>
            <li><a href="/Βacker/Projects"><i class="fas fa-project-diagram"></i>Projects</a></li>
            <li><a href="/Backer/Profile"><i class="fas fa-user"></i>Profile</a></li>
            <li><a href="#"><i class="fas fa-money-bill-alt"></i>Funded Projects</a></li>
        </ul>
    </div>
</div>
