@model FundProjectAPI.DTOs.BackerDto;

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

<div class="wrapper">
    <div class="sidebar">
        <h2>Backer</h2>
        <ul>
            <li><a href="Index"><i class="fas fa-stream"></i>Dashboard</a></li>
            <li><a href="Projects"><i class="fas fa-project-diagram"></i>Projects</a></li>
            <li><a href="Profile"><i class="fas fa-user"></i>Profile</a></li>
        </ul>
    </div>
</div>


<h2 style="text-align: center; color: #1D7486;">Profile Information</h2>
<table class="content-table" style="position:absolute; right:350px; top:150px;">
    <tr><td><b>Id</b></td> <td>@Model.Id</td></tr>

    <tr><td><b>First Name</b></td>   <td>@Model.FirstName</td></tr>
    <tr><td><b>Last Name</b></td>   <td>@Model.LastName</td></tr>
    <tr><td><b>Email</b></td>   <td> @Model.Email </td></tr>
    <tr><td> <a href="/Backer/DeleteBacker/@Model.Id" title="delete"><i class="fa fa-trash"></i></a> </td></tr>
    <tr><td> <a href="/Backer/EditBacker/@Model.Id" title="edit"><i class="fa fa-edit"></i></a> </td></tr>
</table>


