
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

<div class="wrapper">
    <div class="sidebar">
        <h2>Creator</h2>
        <ul>
            <li><a href="Index"><i class="fas fa-qrcode"></i>Dashboard</a></li>
            <li><a href="~/Project/Projects"><i class="fas fa-stream"></i>All Projects</a></li>
            <li><a href="#"><i class="fas fa-project-diagram"></i>My Projects</a></li>
        </ul>
    </div>
</div>
