
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
<div class="creatorid" style="top:50px;right:0">
    <div class="creatoruser" style="position: absolute; top: 80px; left:220px; width: 150px; border: 3px solid #1D7486; text-align:center;">Welcome Creator @ViewBag.message</div>
</div>
<div class="wrapper">
    <div class="sidebar">
        <h2>Creator</h2>
        <ul>
            <li><a href="/Creator/Index"><i class="fas fa-qrcode"></i>Dashboard</a></li>
            <li><a href="/Creator/Projects"><i class="fas fa-stream"></i>All Projects</a></li>
            <li><a href="/Creator/Profile"><i class="fas fa-user"></i>Profile</a></li>
            <li><a href="/Creator/MyProjects"><i class="fas fa-project-diagram"></i>My Projects</a></li>
        </ul>
    </div>
</div>
<div class="createproject">
    <button class="btncrproject" value="Create New Project" onclick="window.location = '../Project/CreateProject'">Create New Project</button>
</div>
