<head runat="server">
    <title></title>
    <meta http-equiv="Refresh" content="5;url=../Home/Index" />
</head>

<body style="background-color: #f1f3f9">
    
    <div style="text-align:center;font-size:40px;"><b>Account created successfully. You will be redirected to Home in 5 seconds.</b></div>
    <div style="text-align: center; font-size: 20px;"><i>Check your emails for your credentials.</i></div>
</body>